body {
  background-color: #000000; /* black background */
  font-family: 'Anonymous Pro', monospace; /* hacker font */
  color: #00ff00; /* green text */
}

.logo {
  text-align: center;
  margin-top: 50px;
}

.logo img {
  max-width: 200px;
  height: auto;
}

.content {
  margin: 50px auto;
  max-width: 800px;
  text-align: center;
}

h1 {
  font-size: 3em;
}

p {
  font-size: 1.5em;
  line-height: 1.5;
}
